.footer-bg{
    background-color: $accent-color;
    padding: 3em 0;

    @include for-phone-only{
        padding: 2em 0;
    }
}

.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & li{
        margin: 0 30px;
    }
    margin-bottom: 1em;
    @include for-phone-only{
        margin-bottom: .7em;
    }
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    margin: 0 auto;
    width: 80%;
}

.footer-link-item{
    color: black;
    font-weight: 600;
    cursor: pointer;
    text-align: center;

    @include for-phone-only{
        font-weight: 400;
    }
}
.current-link{
    color: $secondary-color;
}

.designed-by{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    & p{
        font-weight: 700; 
        @include for-phone-only{
            margin-bottom: 10px;
            font-weight: 300;
            font-size: 13px;
        }
    }
}

.social-link{
    display: flex;
    justify-content: flex-end;
    align-items: end;

    & li{
        margin: 0 20px;
        cursor: pointer;

        @include for-phone-only{
            margin-top: 10px;
            margin: 0 15px;
        }
    }
}