.navbar-container{
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
    @include for-tablet-portrait-up {
        width: 95%;
        margin: 0 auto;
        padding: 1em 0;
    }
}
@include for-phone-only {
    .navbar-container{
        width: 95%;
        margin: 0 auto;
        padding: 1em 0;
    }
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #fff;
    font-size: 1em;
    font-weight: 900;
}



.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .nav-link{
         margin: 0 2.5em;
         @include for-phone-only{
            margin: 0 1em;
        }
         & .link-item{
             color: $link-color-inactive;
             font-size: 1em;
             transition: .4s ease;
            //  font-family: 'Poppins', sans-serif;
            position: relative;
             &:hover{
                color: $accent-color;
             }
             @include for-phone-only{
                font-size: .8em;
                font-weight: 700;
            }
         }
         & .current-link{
            color: $accent-color;
            font-size: 1em;
            font-weight: 800;

            @include for-phone-only{
                font-size: .8em;
                font-weight: 900;
            }
        }
    }
}