.category-container{
    width: 90%;
    margin: 0 auto;
    padding: 5em 0;
}

.btn-tab{
    border-radius: 10px;
    padding: 15px 35px;
    margin-right: 1em;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    transition: .4s;
    @include for-phone-only {
         padding: 10px 20px;
         margin-right: .8em;  
         font-size: 12px;

    }
}
.active-tab{
    color: $secondary-color;
    background: #F1E7D0;
    transition: .4s;
}
.inactive-tab{
    border: 1px solid #F1E7D0;
    box-sizing: border-box;
    border-radius: 10px;
    background: transparent;
    color: #F1E7D0;
}

.tab-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}