/* In your CSS */
:root {
  --color-primary: #151617;
  --color-secondary: #F1E7D0;
  --link-color-inactive: #CCCCCC;
}
@tailwind base;
@tailwind components;
.body{
  @apply bg-primary
}
.link-color{
  @apply cursor-pointer text-link_inactive
}
.current-link{
  @apply text-base font-semibold text-secondary
}
.logo{
  @apply text-white text-xl font-extrabold
}
@tailwind utilities;
